ESCI_PROFILE=dev
ESCI_CONFIG_PATH=configs/services.yaml
ESCI_PORTS_PATH=configs/local_ports.yaml
ESCI_RAW_DATA_ROOT=./esci-data-main/shopping_queries_dataset/data
ESCI_SOURCES_PATH=./esci-data-main/shopping_queries_dataset/shopping_queries_dataset_sources.csv
OPENSEARCH_URL=http://localhost:9200
MLFLOW_TRACKING_URI=./mlruns
