.DS_Store
.env
.venv/
.vscode/
.idea/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/

data/opensearch/
data/cache/
data/processed/*
!data/processed/dev/
!data/processed/full/
data/processed/dev/*
!data/processed/dev/.gitkeep
data/processed/full/*
!data/processed/full/.gitkeep
data/evaluation/*
!data/evaluation/dev/
!data/evaluation/full/
data/evaluation/dev/*
!data/evaluation/dev/.gitkeep
data/evaluation/full/*
!data/evaluation/full/.gitkeep
data/raw/*
!data/raw/README.md

mlruns/
reports/
esci-data-main/
